<!--home.handlebars-->
<h1>{{company.name}}</h1>
<img src={{company.logoUrl}} width="500"/>
<h2>Menus</h2>
{{#each company.menus}}
    <article>
        <p>{{this.title}}</p>
    </article>
{{/each}}

<h2>Locations</h2>
{{#each company.locations}}
    <article>
        <h3>{{this.name}}</h3>
        <p>Capacity: {{this.capacity}}</p>
        <p>Manager: {{this.manager}}</p>
    </article>
{{/each}}
<h1>Create a new menu</h1>
<form action="/companies/{{company.id}}/menus" method="POST">
    <label>
        Name:
        <input name="title" id="menu-title-input" type="text" required>
    </label>
    <button>Create</button>
</form>
<h1>Create a new location</h1>
<form action="/companies/{{company.id}}/locations" method="POST">
    <label>
        Name:
        <input name="name" id="location-name-input" type="text" required>
    </label>
    <label>
        Capacity:
        <input name="capacity" id="location-capacity-input" type="number" required>
    </label>
    <label>
        Manager:
        <input name="manager" id="location-manager-input" type="text" required>
    </label>
    <button>Create</button>
</form>