<!--home.handlebars-->
<h1>Companies</h1>
{{#each companies}}
    <article>
        <a href={{companyUrl this.id}}>
            <img src={{this.logoUrl}} width="500"/>
            <h2>{{this.name}}</h2>
        </a>
        <button name="deleteButton" companyId={{this.id}} id="delete{{this.id}}">Delete</button>
    </article>
    <br>
{{/each}}
<script src="setupEventListeners.js"></script>